.createNewPassword {
  //position: absolute;
  width: 413px;
  height: 408px;
  left: 434px;
  top: 60px;
  background: #F9F9FE;
  border-radius: 8px;

  .headerCheckPasswordText{
    font-family: 'Montserrat', sans-serif;;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    color: #000000;
    margin: 40px 0 70px 0;
  }

  .blockCircle{
    margin: 20px 0;
    .iconCircle{
      align-items: center;
      width: 108px;
      height: 108px;
      color: #366EFF;
      border-radius: 54px;
      background: rgba(54, 110, 255, 0.05);
      border: 1px solid #366EFF;
    }
  }

  .text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-bottom: 50px;
  }

  .buttonBlock{

    .btnNewPass{
      width: 347px;
      background: #366EFF;
      box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
      border-radius: 30px;
      transition: 0.3s;
      &:hover{
        background: #094cff
      }
    }
  }

}