.signUpForm {
  //position: absolute;
  width: 413px;
  height: 528px;
  left: 434px;
  top: 60px;
  background: #FFFFFF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;


  .textSignUp {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .inputSignup {
    width: 347px;
    height: 50px;
    margin-bottom: 10px;
  }

  .inputPassword {
    width: 347px;
    height: 50px;
    margin-bottom: 45px;
  }

  .formLabelForgot {
    text-align: right;
    margin-bottom: 85px;

    .forgotPassword {
      font-family: Poppins, sans-serif;;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2D2E46;
      text-decoration: none;


      &:hover {
        color: black;
      }
    }
  }

  .buttonBlock {

    .buttonRegister {
      width: 347px;
      margin-bottom: 30px;
    }
    .alreadyAcc{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 25px;
    }
    .linkSignIn{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-decoration-line: underline;
      color: #366EFF;
      &:hover{
        color: #1555ff
      }
    }
  }

}