.signUpForm {
  //position: absolute;
  width: 413px;
  height: 540px;
  left: 434px;
  top: 60px;
  background: #F9F9FE;
  border-radius: 8px;

  .headerSignUp {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #2D2E46;
    margin-bottom: 50px;
  }

  .textSignIn {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #2D2E46;
  }

  .inputLogin {
    width: 347px;
    height: 50px;
  }

  .inputPassword {
    width: 347px;
    height: 50px;
    margin-bottom: 45px;
  }

  .formLabelForgot {
    text-align: right;
    margin-bottom: 85px;

    .forgotPassword {
      font-family: Poppins, sans-serif;;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #2D2E46;
      text-decoration: none;


      &:hover {
        color: black;
      }
    }
  }

  .buttonBlock {
    display: flex;
    justify-content: space-between;

    .buttonCansel {
      width: 124px;
      height: 36px;
      background: #b8b9e7;
      border-radius: 30px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #21268F;
      opacity: 0.8;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
      &:hover {
        background: #c8caef;;
      }
    }
    .buttonRegister {
      width: 187px;
      height: 36px;
    }
    .rememberAcc{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #2D2E46;
      opacity: 0.5;
      margin: 0 0 10px 0;
    }
  }

}