
.authContainer{
  height: 528px;
  .inputEmail {
    margin-bottom: 24px;
  }

  .inputPasswordOne {
    margin-bottom: 24px;
  }

  .inputPasswordTwo{
    margin-bottom: 60px;
  }

  .forgotPasswordBlock {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 69px;
    a {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #000000;
      text-decoration: none;
    }
  }

  .bottomBlock{

    .btn{
      margin-bottom: 31px;
    }
    p{
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #000000;
      opacity: 0.5;
      margin-bottom: 11px;
    }
    a{
      font-family: 'Montserrat',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-decoration-line: underline;
      color: #366EFF;
    }
  }
}
