* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 927px;
  width: 100%;
  background: rgb(147,112,148);
  background: linear-gradient(0deg, rgba(147,112,148,1) 0%, rgb(236, 211, 248) 100%);

}