

.App {
  text-align: center;
  background: rgb(147,112,148);
  background: linear-gradient(0deg, rgba(147,112,148,1) 0%, rgba(241,224,247,1) 100%);
}


@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
